<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="web" value="20516"/>
    <add key="api" value="20471"/>
    <add key="rdo" value="20469"/>
  </appSettings>
</configuration>