<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="magicPlaylist" type="CqrsRadio.Domain.Configuration.MagicPlaylistSection, CqrsRadio.Domain"/>
  </configSections>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <magicPlaylist>
    <environments>
      <add name="Local" url="http://127.0.0.1:1235" appId="264622" channel="http://127.0.0.1:1235/channel" size="50"/>
      <add name="Production" url="http://localhost:1234" appId="170341" channel="http://magicplaylistgenerator.com/channel" size="50"/>
    </environments>
  </magicPlaylist>
</configuration>