<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Nicolas">
    <title>MagicPlaylist</title>
    <link href="~/Content/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="~/Content/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
    <link href="~/Content/css/stylish-portfolio.min.css" rel="stylesheet">
</head>
<body>
@Section['Content'];
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="~/Content/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/Content/jquery-easing/jquery.easing.min.js"></script>
<script src="~/Content/js/stylish-portfolio.min.js"></script>
@Section['Scripts'];
</body>
</html>