@Master['master.html']
@Section['Content']
<div id="dz-root"></div>
<a class="menu-toggle rounded d-none" href="#" data-bind="css:logoutCss">
    <i class="fa fa-bars"></i>
</a>
<nav class="d-none" id="sidebar-wrapper" data-bind="css:logoutCss">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a class="js-scroll-trigger" href="#page-top">MagicPlaylist</a>
        </li>
        <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="#page-top" data-bind="click:logout">Logout</a>
        </li>
    </ul>
</nav>
<!-- Header -->
<header class="masthead d-flex">
    <div class="container text-center my-auto">
        <h1 class="mb-1">MagicPlaylist</h1>
        <h3 class="mb-5">
            <em>A Free Deezer playlist generator</em>
        </h3>
        <div class="d-none" data-bind="css:logoutAndPlaylistCss">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <input type="text" class="form-control" id="playlistname" placeholder="Playlist name" data-bind="value: playlist, css:invalidModel">
                    <p class="text-danger" data-bind="text: errorMessage"></p>
                </div>
                <div class="col-md-4"></div>
            </div>
            <div class="container text-center my-auto">
                <a class="btn btn-primary btn-xl" href="#" data-bind="click:createPlaylist">Generate</a>
            </div>
        </div>
        <h3 class="text-danger" data-bind="css:playlistCss">Ooops ! You have already created a playlist today</h3>
        <div>
            <div class="row" data-bind="css:loginCss">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <a class="btn btn-primary btn-xl" href="#" data-bind="click:login">Login</a>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </div>
</header>
@EndSection

@Section['Scripts']
<script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js"></script>
<script src="https://e-cdns-files.dzcdn.net/js/min/dz.js"></script>
<script>
    DZ.init({
        appId: '@Model.appid',
        channelUrl: '@Model.channel'
    });
</script>

<script src='~/Content/js/nprogress.js'></script>
<script src="~/Content/js/home.js"></script>
@EndSection
